.bChurrusco{
    background-image: url("../../../src/FreesoulDocs/ChurruscoHome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.picHome{
    text-align: center;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.picHome img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.row{
    height: auto;
}