@font-face{
    font-family: Mermaid;
    src: url("../../FreesoulDocs/tipografias/Mermaid1001.ttf") format("opentype");
}

.tabcss{
    background-color: #bae0e3;
}

.nav-link {
    color: #4d6ab2;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Mermaid;
}

.active{
    color: #4d6ab2;
    text-decoration: none;
}

.topBar{
    background-color: #32b4ae;
    color: #ffffff;
    height: 27px;
}

.topLink{
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-left: 30px;
}

.logo{
    height: 230px;
}

.icon1{
    position: absolute;
    top: 15%;
    left: 83%;
}

.icon2{
    position: absolute;
    top: 15%;
    left: 90%;
}
