*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  overflow-x: hidden;
}

.titleMsg{
  text-align: center;
  font-size: 70px;
  color: #ec667f;
  font-family: Mermaid;
  font-weight: bold;
  width: 50%;
  margin: auto 25% auto 25%;
}

@font-face{
  font-family: Mermaid;
  src: url("../src/FreesoulDocs/tipografias/Mermaid1001.ttf") format("opentype");
}


