*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  overflow-x: hidden;
}

.topMessage{
  text-align: center;
  font-size: 40px;
  color: rosybrown;
}